venv/
backend_python/venv/
backend_python/venv310/

.idea/
__pycache__/
*.pyc

backend_python/dataset/
backend_python/dataset.zip

backend_python/temp/
backend_python/temp_audio/
backend_python/uploads/

*.wav
*.log
*.png